/* :root {} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #222222;
	color: white;

	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
